html
  +no-cush
  font-size: 16px

body
  background: #444
  color: #fff
  font-family: $font-2

.grid
  display: grid
  grid-template-columns: 6fr 6fr
  grid-template-rows: auto
  grid-gap: 1em
  grid-template-areas: "header header" "aside aside" "main main" "footer footer"
  header
    grid-area: header
    background: #123456
  main
    grid-area: main
    background: #654321
  aside
    display: grid
    grid-template: 1fr / auto
    grid-area: aside
    grid-gap: 1em
    justify-items: center
    background: #51eb08
    a
      width: 80%
  footer
    display: grid
    grid-template: 10fr 2fr / 1fr
    grid-area: footer
    background: #321cba
    .copy
      grid-column: 1 / 10
      justify-self: center
      align-self: center
    a
      grid-column: 10 / 12
      width: 50px
      height: 50px
      img
        width: 100%
        height: auto

  @media (min-width: 601px) and (max-width: 949px)
    grid-template-areas: "header header" "aside main" "footer footer"

  @media (min-width: 950px)
    grid-template-areas: "header header" "main aside" "footer footer"
